* {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background: #E7EAE5;
}
/*nav bar css */
nav {
  font-size: 20px;
  font-family: Montserrat;
  text-align: center;
  margin: 60px;


}

a {
  text-decoration: none;
  color:#73806A;
}

li {
  display: inline-block;
  padding: 20px;
}


nav a:hover {
  color: #ABBAA4;
  transition: .5s;
}



/*=============== Homepage CSS======================= */

#HomeVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*================ nav CSS ================================ */
.content {
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 350px 20px 20px;
  font-size: 70px;
  color: #E7EAE5;
  width: 100%;
  padding: 20px;
}

/*=============== About page CSS======================= */

div.about-heading{
    font-size: 30px;
    color: #E7EAE5;
    font-family: 'Montserrat', sans-serif;
    Margin:80px auto;
    padding:170px;
    Text-align: center;
    background-image: url('images/aboutpic1.JPG');
}

.about-para {
  margin: 20px 100px 20px;
  text-align: center;
  color: #231F20;
  font-family: 'Karla', sans-serif;
  font-size: 25px;
}


div.resume img {
  display: block;
  margin: auto;
  padding: 200px;
  max-width: 500px;
}

div.resume:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition: transform .4s;
}

/*=============== Video page CSS======================= */
